In [1]:
#создаем датасет
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Функция для генерации случайной даты
def random_date(start, end):
    return start + timedelta(days=random.randint(0, (end - start).days))

# Настройки генерации данных
num_rows = 1000
hotels = ['City Hotel', 'Resort Hotel']
meal_options = ['BB', 'HB', 'FB', 'SC', 'Undefined']
countries = ['USA', 'UK', 'Germany', 'France', 'Italy', 'Spain', 'Brazil', 'Russia', 'China', 'India']
room_types = ['A', 'B', 'C', 'D', 'E']
customer_types = ['Transient', 'Contract', 'Group', 'Transient-Party']
reservation_statuses = ['Canceled', 'Check-Out', 'No-Show']

# Генерация данных
data = {
    'Hotel': [random.choice(hotels) for _ in range(num_rows)],
    'Is canceled': [random.choice([0, 1]) for _ in range(num_rows)],
    'Lead time': [random.randint(1, 365) for _ in range(num_rows)],
    'Arrival full date': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).strftime("%Y-%m-%d") for _ in range(num_rows)],
    'Arrival date year': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).year for _ in range(num_rows)],
    'Arrival date month': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).month for _ in range(num_rows)],
    'Arrival date week number': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).isocalendar()[1] for _ in range(num_rows)],
    'Arrival date day of month': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).day for _ in range(num_rows)],
    'Stays in weekend nights': [random.randint(0, 5) for _ in range(num_rows)],
    'Stays in week nights': [random.randint(1, 14) for _ in range(num_rows)],
    'Stays total nights': [0]*num_rows,  # Placeholder to calculate later
    'Adults': [random.randint(1, 4) for _ in range(num_rows)],
    'Children': [random.randint(0, 3) for _ in range(num_rows)],
    'Babies': [random.randint(0, 1) for _ in range(num_rows)],
    'Meal': [random.choice(meal_options) for _ in range(num_rows)],
    'Country': [random.choice(countries) for _ in range(num_rows)],
    'Reserved room type': [random.choice(room_types) for _ in range(num_rows)],
    'Assigned room type': [random.choice(room_types) for _ in range(num_rows)],
    'Customer type': [random.choice(customer_types) for _ in range(num_rows)],
    'Reservation status': [random.choice(reservation_statuses) for _ in range(num_rows)],
    'Reservation status date': [random_date(datetime(2020, 1, 1), datetime(2023, 12, 31)).strftime("%Y-%m-%d") for _ in range(num_rows)],
}

# Создание DataFrame
df = pd.DataFrame(data)

# Расчет общего числа ночей
df['Stays total nights'] = df['Stays in weekend nights'] + df['Stays in week nights']

# Сохранение в CSV файл 
df.to_csv('C:/Users/majkl/WorkSpace/Project_hotel/hotel_bookings_dataset.csv', index=False)


print(df.head())

          Hotel  Is canceled  Lead time Arrival full date  Arrival date year  \
0    City Hotel            0         22        2021-02-09               2021
1  Resort Hotel            0         38        2021-08-08               2020
2    City Hotel            0         22        2021-10-17               2022
3  Resort Hotel            1        350        2021-05-31               2021
4    City Hotel            1        307        2020-08-20               2020

   Arrival date month  Arrival date week number  Arrival date day of month  \
0                   1                        11                          1
1                   1                        13                          4
2                   2                        22                         21
3                   2                        39                         19
4                   8                        28                          5

   Stays in weekend nights  Stays in week nights  ...  Adults  Children  \
0                        5                     6  ...       4         0
1                        4                    14  ...       2         1
2                        5                    10  ...       3         3
3                        2                     5  ...       1         2
4                        1                     4  ...       3         2

   Babies       Meal  Country Reserved room type Assigned room type  \
0       1  Undefined    India                  C                  D
1       0  Undefined    Spain                  B                  C
2       1         FB       UK                  B                  A
3       1  Undefined    India                  D                  B
4       1         BB  Germany                  D                  C

     Customer type Reservation status Reservation status date
0        Transient          Check-Out              2023-12-04
1  Transient-Party           Canceled              2021-10-17
2         Contract          Check-Out              2023-09-18
3         Contract            No-Show              2020-04-01
4  Transient-Party           Canceled              2021-03-04

[5 rows x 21 columns]

# Описание данных
Имеются следующие переменные:


-	Hotel – тип отеля (City Hotel или Resort Hotel)  
-	Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
-	Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
-	Arrival full date – полная дата прибытия
-	Arrival date year – год прибытия  
-	Arrival date month – месяц прибытия  
-	Arrival date week number – номер недели прибытия
-	Arrival date day of month – день прибытия
-	Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
-	Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
-	Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
-	Adults – число взрослых
-	Children – число детей
-	Babies – число младенцев 
-	Meal – выбранный тип питания
-	Country – страна происхождения клиента
-	Reserved room type – тип зарезервированного номера
-	Assigned room type – тип полученного номера (может отличаться от забронированного)
-	Customer type – тип бронирования
-	Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
-	Reservation status date – дата обновления статуса
дата обновления статуса
а обновления статуса

та обновления статуса
та обновления статуса
та обновления статуса

In [3]:
#прочитать датасет и вывести первые 7 строк
df = pd.read_csv('C:/Users/majkl/WorkSpace/Project_hotel/hotel_bookings_dataset.csv')
df.head(7)

,Hotel,Is canceled,Lead time,Arrival full date,Arrival date year,Arrival date month,Arrival date week number,Arrival date day of month,Stays in weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved room type,Assigned room type,Customer type,Reservation status,Reservation status date
0,City Hotel,0,22,2021-02-09,2021,1,11,1,5,6,...,4,0,1,Undefined,India,C,D,Transient,Check-Out,2023-12-04
1,Resort Hotel,0,38,2021-08-08,2020,1,13,4,4,14,...,2,1,0,Undefined,Spain,B,C,Transient-Party,Canceled,2021-10-17
2,City Hotel,0,22,2021-10-17,2022,2,22,21,5,10,...,3,3,1,FB,UK,B,A,Contract,Check-Out,2023-09-18
3,Resort Hotel,1,350,2021-05-31,2021,2,39,19,2,5,...,1,2,1,Undefined,India,D,B,Contract,No-Show,2020-04-01
4,City Hotel,1,307,2020-08-20,2020,8,28,5,1,4,...,3,2,1,BB,Germany,D,C,Transient-Party,Canceled,2021-03-04
5,City Hotel,0,295,2020-08-23,2021,5,38,11,0,11,...,1,0,1,BB,USA,A,C,Contract,Check-Out,2022-08-02
6,City Hotel,0,123,2022-06-03,2022,9,5,29,2,10,...,2,3,1,BB,Spain,A,D,Transient,Canceled,2021-01-13

In [4]:
#ознакомится с датасетом, проверить размер таблицы и вывести типы переменных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Hotel                      1000 non-null   object
 1   Is canceled                1000 non-null   int64
 2   Lead time                  1000 non-null   int64
 3   Arrival full date          1000 non-null   object
 4   Arrival date year          1000 non-null   int64
 5   Arrival date month         1000 non-null   int64
 6   Arrival date week number   1000 non-null   int64
 7   Arrival date day of month  1000 non-null   int64
 8   Stays in weekend nights    1000 non-null   int64
 9   Stays in week nights       1000 non-null   int64
 10  Stays total nights         1000 non-null   int64
 11  Adults                     1000 non-null   int64
 12  Children                   1000 non-null   int64
 13  Babies                     1000 non-null   int64
 14  Meal                       1000 non-null   object
 15  Country                    1000 non-null   object
 16  Reserved room type         1000 non-null   object
 17  Assigned room type         1000 non-null   object
 18  Customer type              1000 non-null   object
 19  Reservation status         1000 non-null   object
 20  Reservation status date    1000 non-null   object
dtypes: int64(12), object(9)
memory usage: 164.2+ KB

In [5]:
#Привести названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   hotel                      1000 non-null   object
 1   is_canceled                1000 non-null   int64
 2   lead_time                  1000 non-null   int64
 3   arrival_full_date          1000 non-null   object
 4   arrival_date_year          1000 non-null   int64
 5   arrival_date_month         1000 non-null   int64
 6   arrival_date_week_number   1000 non-null   int64
 7   arrival_date_day_of_month  1000 non-null   int64
 8   stays_in_weekend_nights    1000 non-null   int64
 9   stays_in_week_nights       1000 non-null   int64
 10  stays_total_nights         1000 non-null   int64
 11  adults                     1000 non-null   int64
 12  children                   1000 non-null   int64
 13  babies                     1000 non-null   int64
 14  meal                       1000 non-null   object
 15  country                    1000 non-null   object
 16  reserved_room_type         1000 non-null   object
 17  assigned_room_type         1000 non-null   object
 18  customer_type              1000 non-null   object
 19  reservation_status         1000 non-null   object
 20  reservation_status_date    1000 non-null   object
dtypes: int64(12), object(9)
memory usage: 164.2+ KB

In [6]:
# Проверка на пропущенные значения
print(df.isnull().sum())

hotel                        0
is_canceled                  0
lead_time                    0
arrival_full_date            0
arrival_date_year            0
arrival_date_month           0
arrival_date_week_number     0
arrival_date_day_of_month    0
stays_in_weekend_nights      0
stays_in_week_nights         0
stays_total_nights           0
adults                       0
children                     0
babies                       0
meal                         0
country                      0
reserved_room_type           0
assigned_room_type           0
customer_type                0
reservation_status           0
reservation_status_date      0
dtype: int64

In [7]:
# Проверка на дубли значений
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_full_date, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, stays_total_nights, adults, children, babies, meal, country, reserved_room_type, assigned_room_type, customer_type, reservation_status, reservation_status_date]
Index: []

[0 rows x 21 columns]

In [8]:
#Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
booking = df.query('is_canceled == 0') \
            .groupby(['country'], as_index = False) \
            .agg({'is_canceled': 'count'}) \
            .rename(columns={"is_canceled": "count"}) \
            .sort_values(['count'], ascending = False)
booking.head(5)

  country  count
1   China     64
0  Brazil     60
9     USA     58
7   Spain     54
6  Russia     51

In [9]:
#На сколько ночей в среднем бронируют отели разных типов в каждой стране?
mean = df.groupby(['hotel', 'country'], as_index = False) \
        .agg({'stays_total_nights': 'mean'}) \
        .sort_values(['hotel', 'country']) \
        .round(2)
mean

           hotel  country  stays_total_nights
0     City Hotel   Brazil                9.11
1     City Hotel    China                9.70
2     City Hotel   France               10.23
3     City Hotel  Germany                9.94
4     City Hotel    India                9.26
5     City Hotel    Italy                9.65
6     City Hotel   Russia                9.09
7     City Hotel    Spain               10.38
8     City Hotel       UK               10.36
9     City Hotel      USA               10.69
10  Resort Hotel   Brazil                9.62
11  Resort Hotel    China               10.11
12  Resort Hotel   France               10.96
13  Resort Hotel  Germany               10.29
14  Resort Hotel    India                9.67
15  Resort Hotel    Italy               10.04
16  Resort Hotel   Russia                8.43
17  Resort Hotel    Spain               10.71
18  Resort Hotel       UK               10.56
19  Resort Hotel      USA                9.75

In [10]:
#На сколько ночей в среднем бронируют отели разных типов?
mean2 = df.groupby(['hotel'], as_index = False) \
        .agg({'stays_total_nights': 'mean'}) \
        .sort_values(['hotel']) \
        .round(2)
mean2

          hotel  stays_total_nights
0    City Hotel                9.83
1  Resort Hotel               10.03

In [11]:
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
room = df.query('reserved_room_type != assigned_room_type').shape #.agg({'reserved_room_type':'count'})
room
print(f'Количество отличающихся забронированных от полученных номеров {room}')

Количество отличающихся забронированных от полученных номеров (800, 21)

In [12]:
#На какой месяц чаще всего успешно оформляли бронь в 2021? Изменился ли самый популярный месяц в 2022?
booking_mode = df.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)
booking_mode

arrival_date_year
2020    1
2021    6
2022    3
2023    8
Name: arrival_date_month, dtype: int64

Популярный месяц в 2021 январь, в 2022 май

In [21]:
#На какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
booking_mode = df.groupby('arrival_date_year', 'arrival_date_month').is_canceled.sum
booking_mode

arrival_date_year  arrival_date_month
2020               1                     12
                   2                     10
                   3                      6
                   4                     12
                   5                     19
                   6                     10
                   7                     11
                   8                     11
                   9                     12
                   10                     8
                   11                     5
                   12                    11
2021               1                     10
                   2                      4
                   3                      6
                   4                      8
                   5                      9
                   6                     21
                   7                      9
                   8                      9
                   9                     13
                   10                     3
                   11                     9
                   12                    13
2022               1                     13
                   2                      7
                   3                     17
                   4                     14
                   5                     10
                   6                     10
                   7                      9
                   8                     10
                   9                     10
                   10                     9
                   11                    10
                   12                     8
2023               1                     15
                   2                      7
                   3                      7
                   4                      7
                   5                     10
                   6                      7
                   7                      7
                   8                     12
                   9                     11
                   10                     7
                   11                     9
                   12                     7
Name: is_canceled, dtype: int64

In [31]:
booking_canc.groupby(['arrival_date_year']).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2020               2020               5                     19
2021               2021               6                     21
2022               2022               3                     17
2023               2023               1                     15
Name: is_canceled, dtype: int64

2020 May

2021 June

2022 March

2023 January

In [42]:
#Посмотреть на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение
people = df[['adults', 'children', 'babies']].mean()
people

adults      2.555
children    1.511
babies      0.494
dtype: float64

In [48]:
#Для отелей какого типа среднее значение количества детей оказалось наибольшим?
df['total_kids'] = df.children + df.babies
df.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      1.99
Resort Hotel    2.02
Name: total_kids, dtype: float64

Отдыхающие с детьми предпочитают больше отель Resort Hotel, среднее значение детей в отеле 2.02

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронированКм, как эта метрика связана с наличием детей у клиентов!
Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

In [67]:
def has_kids(x):
    if x > 0:
        return True
    else:
        return False

In [69]:
df['has_kids'] = df.total_kids.apply(has_kids)

In [71]:
df['has_kids'].value_counts()

has_kids
True     869
False    131
Name: count, dtype: int64

In [73]:
df[['has_kids', 'is_canceled']].value_counts() / df[['has_kids']].value_counts() * 100

has_kids  is_canceled
False     0              50.381679
          1              49.618321
True      0              52.934407
          1              47.065593
Name: count, dtype: float64

Оттока клиентов больше среди клиентов без детей 49.62